<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Pinpoint Restaurant</string>
		<key>SubName</key>
		<string>Pinpoint Restaurant</string>
		<key>Description</key>
		<string>Southern Restaurant (US)</string>
		<key>Rating</key>
		<string>4.7 google Rating</string>
		<key>Address</key>
		<string>114 Market St, Wilmington</string>
		<key>Phone</key>
		<string>1(910)769-2972</string>
		<key>Hours</key>
		<string>All week 5:30 pm – 9:30 pm</string>
		<key>Website</key>
		<string>https://pinpointrestaurant.com/</string>
		<key>Latitude</key>
		<string>34.2352051</string>
		<key>Longitude</key>
		<string>-77.9482536</string>
		<key>CellImage</key>
		<string>Pinpoint Restaurant Cell.jpg</string>
		<key>Image</key>
		<string>Pinpoint Restaurant.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Rx Restaurant and Bar</string>
		<key>SubName</key>
		<string>Rx Restaurant and Bar</string>
		<key>Description</key>
		<string>New American Restaurant</string>
		<key>Rating</key>
		<string>4.6 google Rating</string>
		<key>Address</key>
		<string>421 Castle St, Wilmington</string>
		<key>Phone</key>
		<string>1(910)399-3080</string>
		<key>Hours</key>
		<string>All Week 5 pm – 9 pm</string>
		<key>Website</key>
		<string>https://www.rxwilmington.com/</string>
		<key>Latitude</key>
		<string>34.2283032</string>
		<key>Longitude</key>
		<string>-77.9426405</string>
		<key>CellImage</key>
		<string>Rx Restaurant and Bar Cell.jpg</string>
		<key>Image</key>
		<string>Rx Restaurant and Bar.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Circa 1922</string>
		<key>SubName</key>
		<string>Circa 1922</string>
		<key>Description</key>
		<string>Tapas Restaurant</string>
		<key>Rating</key>
		<string>4.6 google Rating</string>
		<key>Address</key>
		<string>8 N Front St, Wilmington</string>
		<key>Phone</key>
		<string>1(910)762-1922</string>
		<key>Hours</key>
		<string>All week 5 – 10 PM</string>
		<key>Website</key>
		<string>https://www.yelp.com/biz/circa-1922-wilmington</string>
		<key>Latitude</key>
		<string>34.2356385</string>
		<key>Longitude</key>
		<string>-77.9486411</string>
		<key>CellImage</key>
		<string>Circa 1922 Cell.jpg</string>
		<key>Image</key>
		<string>Circa 1922.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>The Copper Penny</string>
		<key>SubName</key>
		<string>The Copper Penny</string>
		<key>Description</key>
		<string>American Restaurant</string>
		<key>Rating</key>
		<string>4.6 google Rating</string>
		<key>Address</key>
		<string>109 Chestnut St, Wilmington</string>
		<key>Phone</key>
		<string>1(910)762-1373</string>
		<key>Hours</key>
		<string>All week 11 am – 10 pm</string>
		<key>Website</key>
		<string>https://www.yelp.com/biz/copper-penny-wilmington</string>
		<key>Latitude</key>
		<string>34.2378325</string>
		<key>Longitude</key>
		<string>-77.9484591</string>
		<key>CellImage</key>
		<string>Copper penny Cell.jpg</string>
		<key>Image</key>
		<string>Copper penny.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Indochine Restaurant</string>
		<key>SubName</key>
		<string>Indochine Restaurant</string>
		<key>Description</key>
		<string>Thai Restaurant</string>
		<key>Rating</key>
		<string>4.7 google Rating</string>
		<key>Address</key>
		<string>7 Wayne Dr, Wilmington</string>
		<key>Phone</key>
		<string>1(910)251-9229</string>
		<key>Hours</key>
		<string>All week 11 am – 2 pm, 5 – 10 pm</string>
		<key>Website</key>
		<string>https://www.indochinewilmington.com/</string>
		<key>Latitude</key>
		<string>34.2391044</string>
		<key>Longitude</key>
		<string>-77.9068423</string>
		<key>CellImage</key>
		<string>indochine Cell.jpg</string>
		<key>Image</key>
		<string>indochine.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cape Fear – Monkey Junction</string>
		<key>SubName</key>
		<string>Cape Fear – MJ</string>
		<key>Description</key>
		<string>Seafood Restaurant</string>
		<key>Rating</key>
		<string>4.7 google Rating</string>
		<key>Address</key>
		<string>5226 S College Rd#5, Wilmington</string>
		<key>Phone</key>
		<string>1(910)799-7077</string>
		<key>Hours</key>
		<string>All week 11 am – 9 pm</string>
		<key>Website</key>
		<string>https://www.yelp.com/biz/cape-fear-seafood-company-wilmington-4?osq=cape+fear</string>
		<key>Latitude</key>
		<string>34.1438797</string>
		<key>Longitude</key>
		<string>-77.8937957</string>
		<key>CellImage</key>
		<string>Cape Fear Cell.jpg</string>
		<key>Image</key>
		<string>Cape Fear.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dock Street Oyster Bar</string>
		<key>SubName</key>
		<string>Dock Street Oyster Bar</string>
		<key>Description</key>
		<string>Seafood Restaurant</string>
		<key>Rating</key>
		<string>4.6 google Rating</string>
		<key>Address</key>
		<string>12 Dock St, Wilmington</string>
		<key>Phone</key>
		<string>1(910)762-2827</string>
		<key>Hours</key>
		<string>All week 4 – 9:30 pm Monday closed</string>
		<key>Website</key>
		<string>https://www.yelp.com/biz/dock-street-oyster-bar-wilmington</string>
		<key>Latitude</key>
		<string>34.2340516</string>
		<key>Longitude</key>
		<string>-77.9490558</string>
		<key>CellImage</key>
		<string>Dock Street Cell.jpg</string>
		<key>Image</key>
		<string>Dock Street.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ceviche’s</string>
		<key>SubName</key>
		<string>Ceviche’s</string>
		<key>Description</key>
		<string>Central American Restaurant</string>
		<key>Rating</key>
		<string>4.5 google Rating</string>
		<key>Address</key>
		<string>7210 Wrightsville Ave, Wilmington</string>
		<key>Phone</key>
		<string>1(910)256-3131</string>
		<key>Hours</key>
		<string>All week 5-10 pm Sunday closed</string>
		<key>Website</key>
		<string>https://www.yelp.com/biz/ceviches-wilmington</string>
		<key>Latitude</key>
		<string>34.2199046</string>
		<key>Longitude</key>
		<string>-77.8175173</string>
		<key>CellImage</key>
		<string>Ceviche’s Cell.jpg</string>
		<key>Image</key>
		<string>Ceviche’s.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Manna</string>
		<key>SubName</key>
		<string>Manna</string>
		<key>Description</key>
		<string>American Restaurant</string>
		<key>Rating</key>
		<string>4.6 google Rating</string>
		<key>Address</key>
		<string>123 Princess St, Wilmington</string>
		<key>Phone</key>
		<string>1(910)763-5252</string>
		<key>Hours</key>
		<string>All week 5 – 10 pm Monday closed</string>
		<key>Website</key>
		<string>https://www.yelp.com/biz/manna-wilmington</string>
		<key>Latitude</key>
		<string>34.2365981</string>
		<key>Longitude</key>
		<string>-77.9479839</string>
		<key>CellImage</key>
		<string>Manna Cell.jpg</string>
		<key>Image</key>
		<string>Manna.jpg</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>The Fork ‘N’ Cork</string>
		<key>SubName</key>
		<string>The Fork ‘N’ Cork</string>
		<key>Description</key>
		<string>Bar &amp; Grill</string>
		<key>Rating</key>
		<string>4.7 google Rating</string>
		<key>Address</key>
		<string>122 Market St, Wilmington</string>
		<key>Phone</key>
		<string>1(910)228-5247</string>
		<key>Hours</key>
		<string>All week 11 am – 11 pm</string>
		<key>Website</key>
		<string>https://www.yelp.com/biz/fork-n-cork-wilmington-2</string>
		<key>Latitude</key>
		<string>34.2351748</string>
		<key>Longitude</key>
		<string>-77.9479159</string>
		<key>CellImage</key>
		<string>The Fork ‘N’ Cork Cell.jpg</string>
		<key>Image</key>
		<string>The Fork ‘N’ Cork.jpg</string>
	</dict>
</array>
</plist>
